/.idea/
/target/
/jusapi.iml

/model/.idea/
/model/target/
/model/model.iml

/ui/.idea/
/ui/target/
/ui/ui.iml

/trabalhista/target/
/trabalhista/.idea/
/trabalhista/trabalhista.iml

/authentication/.idea/
/authentication/target/
/authentication/authentication.iml
